[flake8]
max-line-length = 120
max-complexity = 15
exclude = 
    .git,
    __pycache__,
    venv,
    env,
    .venv,
    .pytest_cache,
    dbt_packages,
    target,
    logs,
    node_modules,
    .eggs,
    *.egg
ignore = 
    E203,
    E501,
    W503,
    W504
per-file-ignores =
    __init__.py:F401
