# Airflow dependencies
apache-airflow==2.7.3
snowflake-connector-python
boto3
requests
beautifulsoup4
python-jobspy
openai
pandas
pytz
selenium
webdriver-manager
pyairtable
lxml
openpyxl

# dbt dependencies for data transformation
dbt-core==1.7.4
dbt-snowflake==1.7.3
